* {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

#footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

.starter{
    padding-top: 40px;
    max-width: 1000px;
    margin:0px auto;
}

.starter2{
    padding-top: 40px;
    max-width: 1000px;
    margin:0px auto;
}

.bg{
    background: url("../img/bgimg/wood.jpg")  fixed ;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    color:#fff;
    background-color:#333;
    font-family: 'microsoft yahei' ,Arial,sans-serif;
}

/*a{*/
/*    font-size : 2.5em;*/
/*}*/

.modal-dialog {
    margin: 200px auto;
}
